<!DOCTYPE html>
<html lang="en">
 
<head>

    <title>Your Books Everywhere!</title>
    <script src="js/borrowBook.js"></script>
    <link rel="stylesheet" href="css/signup.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>

<body onload="socket();">
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <h3 class="navbar-brand">Your Books Everywhere!</h3>
            <span class="navbar-text">Logged in as {{user[1]}}</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExample05">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="logout">Logout</a>
                  </li>
                  <li class="navbar-nav mr-auto">
                        <a class="nav-link" href="userLibrary">Your library</a>
                  </li>
                </ul>
            </div>
        </nav>

        <div class="jumbotron">
            <h1>Welcome Home {{user[1]}}!</h1>
            <div class="list-group"></div>
        </div>
        <form action="/allBooks">
            <input type="submit" value="See all books" />
        </form>

        <footer class="footer">       
        </footer>
 
    </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
    var nIntervId;
 
    function socket() {
      nIntervId = setInterval(print, 2000);
    }
 
    function print() {
        $.ajax({
            url: '/getNotification',
            type: 'GET',
            success: function(res) {
                
				var books = 'Books available from your waiting list:';
                
                $.each(JSON.parse(res),function(index, value){
				    books = books + ' ' + value.Title;
                });

                alert(books);
            },
            error: function(error) {
                console.log(error);
            }
        });
    }
</script>

<script>
    $(function() {
        $.ajax({
            url: '/getRecommendedBooks',
            type: 'GET',
            success: function(res) {
                var divUser = $('<div>')
                .attr('class', 'list-group')
                .append($('<a>')
                    .append($('<h5">Title:</h5>').attr('class', 'list-group-item active'))
                    .append($('<h4>').attr('class', 'list-group-item active'))
                    .append($('<h5">Author:</h5>').attr('class', 'list-group-item active'))
                    .append($('<p>').attr('class', 'list-group-item active'))
                    .append($('<h5">Genre:</h5>').attr('class', 'list-group-item active'))
                    .append($('<h3>').attr('class', 'list-group-item active'))
                    .append($('<input type="button" value="Borrow"></input>'))
                    .append($('<h1>&nbsp;</h1>')));
				var book = '';
                
                
                    $.each(JSON.parse(res),function(index, value){
				    	book = $(divUser).clone();
				    	$(book).find('h4').text(value.Title);
                        $(book).find('p').text(value.Author);
                        $(book).find('h3').text(value.Genre);
                        $(book).find('input').attr("onclick", "borrowBook(" + value.Id + ")");
				    	$('.jumbotron').append(book);
                            });
            },
            error: function(error) {
                console.log(error);
            }
        });
    });
</script>
</html>
