<!DOCTYPE html>
<html lang="en">
 
    <head>
    
        <title>Your Books Everywhere!</title>
    
        <link rel="stylesheet" href="css/signup.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    
    </head>

    <body>
        <div class="container">
            <!--navbar-->
            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                <h3 class="navbar-brand">Your Books Everywhere!</h3>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarsExample05">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item active">
                        <a class="nav-link" href="logout">Logout</a>
                      </li>
                      <li class="navbar-nav mr-auto">
                        <a class="nav-link" href="wishlist">Add a book</a>
                      </li>
                    </ul>
                </div>
            </nav>
        </div>
    </body>

    <script>
        $(function() {
            $.ajax({
                url: '/getBook',
                type: 'GET',
                success: function(res) {
                    var div = $('<div>')
                    .attr('class', 'list-group')
                    .append($(<form action="http://google.com"> <input type="submit" value="Go to Google" /> </form>))
                    .append($('<a>')
                        .attr('class', 'list-group-item active')
                        .append($('<h4>')
                            .attr('class', 'list-group-item-heading'),
                            $('<p>')
                            .attr('class', 'list-group-item-text')
                            ));
                    var book = '';
                    
                    $.each(JSON.parse(res),function(index, value){
                        book = $(div).clone();
                        $(book).find('h4').text(value.Title);
                        $(book).find('p').text(value.Genre);
                        $('.jumbotron').append(book);
                            });
                        },
                            error: function(error) {
                                console.log(error);
                        }
            });
        });
    </script>
</html>
